::ng-deep .p-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

::ng-deep .p-image > img:hover{
    transform: scale(1.03);
}

::ng-deep .p-card .p-card-body{
    padding-bottom: 0;
}

::ng-deep .p-dialog-draggable .p-dialog-header{
    background-color: rgb(119, 194, 119);
}

::ng-deep .p-dialog .p-dialog-footer button {
    background-color: rgb(119, 194, 119);
    color: black;
}

::ng-deep .p-dialog .p-dialog-header{
    color: black;
}

::ng-deep .p-paginator>.p-button{
    background-color: #1764df !important;
}

::ng-deep .p-dialog .p-dialog-content{
    padding: 2rem 1.5rem 0rem 1.5rem;
}

.imagen {
    width: 200px; /* Ajusta el tamaño inicial de la imagen según tus necesidades */
    transition: transform 0.3s ease-in-out;
  }
  
  .contenedor:hover .imagen {
    transform: scale(1.2); /* Ajusta el factor de escala según tus preferencias */
  }