::ng-deep .p-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}

:host() ::ng-deep .p-card .p-card-body{
    background: linear-gradient(to bottom, rgb(119, 194, 119), rgb(212, 245, 219));
    border-radius: 0 0 0.5rem 0.5rem;
}


::ng-deep .p-card .p-card-title{
    color: #1a2e05;
    text-shadow: -1px -1px 0 #a5f3fc, 1px -1px 0 #a5f3fc, -1px 1px 0 #a5f3fc, 1px 1px 0 #a5f3fc;
    text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css?family=Coiny');


body {
    background: #ffffff;
}
.cloud-text {
  -webkit-text-stroke: 1px white;
  font-family: 'Coiny', cursive;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;	
  background-image: url(https://4.bp.blogspot.com/-_Q6SwV8HFqU/T9oWN85XyTI/AAAAAAAAfOs/NlTZmyBWUz4/s1600/Lagos-Montanas-Piedras-y-Arboles_Imagenes-HD-de-Montanas.jpg);
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 80%;
  font-size: 50px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;	
  }
  50% {
    background-position: 100%;	
  }
  100% {
    background-position: 0%;
  }
}
.attribute {
  position: relative;
  font-size: 26px;
  text-align: center;
}

::ng-deep .p-card .p-card-title{
  color: #1a2e05;
  text-shadow: -1px -1px 0 #a5f3fc, 1px -1px 0 #a5f3fc, -1px 1px 0 #a5f3fc, 1px 1px 0 #a5f3fc;
  text-transform: uppercase;
  text-align: center;
}

::ng-deep .p-ripple{
  background-color: #111827;
}