<div class="flex items-center justify-center rounded-md">
  <div class="flex justify-center items-center w-full mt-6">
    <p class="cloud-text cloud-title">Plants by Genus</p>
  </div>
</div>

<div class="flex items-center justify-center rounded-md">
  <div class="flex justify-center items-center w-full">
    <p class="cloud-text cloud-title">Genus: {{genusName}}</p>
  </div>

</div>

<div class="grid grid-cols-3 gap-6 py-4 px-6">
    <div *ngFor="let plant of plants" class="rounded-md my-3">
      <p-card header="{{  plant.common_name || plant.synonyms[0] || plant.scientific_name || ''  }}">
        <div *ngIf="plant.image_url" class="m-0 h-72">
          <p-image [src]="plant.image_url" alt="Image"></p-image>
        </div>

        <div *ngIf="!plant.image_url" class="m-0 h-72 flex justify-center items-center">
          <p class="transform rotate-45">No Image</p>
        </div>
        
        <div class="mt-4 grid grid-cols-2 gap-3 justify-items-center items-center">
          <!-- <p-button label="Favorite" (click)="addFavorites(plant)"></p-button> -->
          <p-button label="Details" (click)="onClickPlant(plant)"></p-button>
        </div>
      </p-card>
    </div>
</div>

<app-plant-details [visible]="visible" [plantSelected]="plantSelected"></app-plant-details>

<app-paginator  [lastPage]="lastPage!" [pageSelected]="pageSelected!" (sendMessageEvent)="receiveMessageFromChild($event)"></app-paginator>