<div class="flex justify-center items-center mt-6">
  <p class="cloud-text cloud-title text-6xl xs:text-6xl sm:text-6xl md:text-6xl lg:text-6xl xl:text-7xl py-3">Favorites</p>
</div>


<div *ngIf="plantList?.length == 0" class="flex flex-wrap justify-center items-center">
  <div class="flex w-full justify-center items-center py-8">
    <img  src="../../../assets/hoja.svg" alt="Descripción del SVG" width="300" height="300">
  </div>
  <div class="flex w-full justify-center items-center pt-10 pb-5">
    <p class="text-white font-bold text-2xl text-center">Not yet added to favorites</p>
  </div>
</div>


<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 py-4 px-6">
  <div *ngFor="let plant of plantList" class="rounded-md my-3 border-2 border-white">
    <p-card>

      <ng-template pTemplate="header">
        <div class="grid grid-cols-5 py-3 bg-lime-400">
          <div class="col-span-4">
            <p class="text-cyan-900 uppercase text-center font-bold text-xl cursor-pointer" (click)="onClickPlant(plant)">{{ plant.common_name || plant.synonyms[0] || plant.scientific_name || '' }}</p>
          </div>
          <div class="col-span-1 flex justify-center items-center">
            <i class="pi pi-star-fill font-bold cursor-pointer"></i>
          </div>
        </div>
      </ng-template>

      <div *ngIf="plant.image_url" class="m-0 h-72">
        <p-image [src]="plant.image_url" alt="Image" (click)="onClickPlant(plant)"></p-image>
      </div>

      <div *ngIf="!plant.image_url" class="m-0 h-72 flex justify-center items-center">
        <p class="transform rotate-45 text-3xl p-4 font-bold">No Image</p>
      </div>
    </p-card>
  </div>
</div>

<app-plant-details [visible]="visible" [plantSelected]="plantSelected" [favoriteButton]="favoriteButton"></app-plant-details>