
<div class="body px-10">

  <div class="flex justify-center items-center mt-6">
    <p class="cloud-text cloud-title">Green Gallery</p>
  </div>


  <div class="grid grid-cols-3 gap-6 py-4 px-6">
      <div *ngFor="let plant of plantList?.data" class="rounded-md my-3 border-2 border-white shadow-xl">
        <p-card header="{{ plant.common_name || plant.synonyms[0] || plant.scientific_name || '' }}">
          <div *ngIf="plant.image_url" class="m-0 h-72 shadow-2xl border-2 border-gray-400 rounded-md">
            <p-image [src]="plant.image_url" alt="Image"></p-image>
          </div>

          <div *ngIf="!plant.image_url" class="m-0 h-72 flex justify-center items-center">
            <p class="transform rotate-45">No Image</p>
          </div>
          
          <div class="mt-4 grid grid-cols-2 gap-3 justify-items-center items-center">
            <p-button label="Favorite" (click)="addFavorites(plant)"></p-button>
            <p-button label="Details" (click)="onClickPlant(plant)"></p-button>
          </div>
        </p-card>
      </div>
  </div>
  <app-paginator [lastPage]="lastPage!" [pageSelected]="pageSelected!" (sendMessageEvent)="receiveMessageFromChild($event)"></app-paginator>
  <!-- <p-paginator [first]="first" [rows]="1" [totalRecords]="12" (onPageChange)="onPageChange($event)" [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator> -->

</div>




<app-plant-details [visible]="visible" [plantSelected]="plantSelected" [initialButton]="initialButton"></app-plant-details>