.header {
    /* background-image: url('../../../assets/header.jpg'); */
    opacity: 0.9
}


::ng-deep .p-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}

::ng-deep .p-card .p-card-body{
    background: linear-gradient(to bottom, rgb(119, 194, 119), rgb(212, 245, 219));
}

::ng-deep .p-card .p-card-body{
    border-radius: 0.5rem;
}

::ng-deep .p-card .p-card-title {
  color: #b64c86; /* Magenta */
  text-shadow: 0 0 10px rgba(182, 76, 134, 0.7); /* Sombra magenta suave */
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; /* Opcional: Añade negrita para resaltar */
  font-size: 1.4em; /* Opcional: Ajusta el tamaño de la fuente según tus preferencias */
}

::ng-deep .p-ripple{
    background-color: #111827;
}

::ng-deep .group-1 .p-button{
  border: 4px solid #6d6d6d
}

::ng-deep .group-1 .p-button:hover{
  border: 4px solid #0aab01
}

@import url('https://fonts.googleapis.com/css?family=Coiny');


body {
    background: #ffffff;
}
.cloud-text {
  -webkit-text-stroke: 1px white;
  font-family: 'Coiny', cursive;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;	
  background-image: url(https://4.bp.blogspot.com/-_Q6SwV8HFqU/T9oWN85XyTI/AAAAAAAAfOs/NlTZmyBWUz4/s1600/Lagos-Montanas-Piedras-y-Arboles_Imagenes-HD-de-Montanas.jpg);
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 80%;
  font-size: 80px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;	
  }
  50% {
    background-position: 100%;	
  }
  100% {
    background-position: 0%;
  }
}
.attribute {
  position: relative;
  font-size: 26px;
  text-align: center;
}

::ng-deep .pi-star-fill:hover{
  color: rgb(158, 167, 33);
}