::ng-deep .p-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}

::ng-deep .p-card .p-card-body{
    background: linear-gradient(to bottom, rgb(119, 194, 119), rgb(212, 245, 219));
}

::ng-deep .p-card .p-card-body{
    border-radius: 0.5rem;
}

::ng-deep .p-card .p-card-title{
    color: #1a2e05;
    text-shadow: -1px -1px 0 #a5f3fc, 1px -1px 0 #a5f3fc, -1px 1px 0 #a5f3fc, 1px 1px 0 #a5f3fc;
    text-transform: uppercase;
}

::ng-deep .p-ripple{
    background-color: #111827;
}